.app--header {
  height: 80px;
  color: rgb(94, 93, 93);
  border: color;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid rgb(94, 93, 93);
}

.app--body {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.app--menu {
  width: 100px;
  border-right: 3px solid rgb(94, 93, 93);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.app--content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.active {
  background-color: rgb(94, 93, 93);;
}

button {
  width: 100%;
}