<div class="app--header">
  DogsHub
</div>

<div class="app--body">
  <div class="app--menu">
    <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
      <button mat-button color="primary">Home</button>
    </a>
    <a routerLink="/dogs" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
      <button mat-button color="primary">Dogs</button>
    </a>
    <a routerLink="/dogs/new" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
      <button mat-button color="primary">Create</button>
    </a>
  </div>
  <div class="app--content">
    <router-outlet></router-outlet>
  </div>
</div>
