/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(172, 172, 172);
  color: rgb(94, 93, 93);
}

app-root {
  background-color: grey;
  border: 3px solid rgb(94, 93, 93);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 600px;
}

.mat-simple-snackbar {
  justify-content: center!important;
  color: rgb(94, 93, 93);
  font-size: 2rem;
}

@media screen and (max-width: 620px) {
  app-root {
    width: 400px;
  }
  .app--body {
    flex-direction: column!important;
  }
  .app--menu {
    width: auto!important;
    height: 100px!important;
    border-right: none!important;
    border-bottom: 3px solid rgb(94, 93, 93)!important;

  }
}