<div *ngIf="dataSource.data.length !== 0; else noDogsMessage" class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let dog"> {{dog.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let dog"> {{dog.name}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let dog"> {{dog.age}} </td>
    </ng-container>

    <ng-container matColumnDef="breed">
      <th mat-header-cell *matHeaderCellDef> Breed </th>
      <td mat-cell *matCellDef="let dog"> {{convertFromIdToBreed(dog.breed)}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let dog">
        <button mat-button color="primary" (click)="editDog(dog)">Edit</button>
        <button mat-button color="warn" (click)="deleteDog(dog)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<ng-template #noDogsMessage>
  <div class="dogs-component--no-dogs-message">
    There are no dogs
  </div>
</ng-template>