table {
  width: 100%;
  background-color: rgb(190, 190, 190);
}

.dogs-component--no-dogs-message {
  padding: 30px;
}

.dogs-component--loading-message {
  font-size: 3rem;
  text-align: center;
  padding: 50px;
}